.container{
    width: 100%;
}
h1{
    text-align: center;
    margin-bottom: 45px;
}
.box{
    width: calc(33.33% - 25px);
    margin: 0 10px 20px 10px;
    background-color: #9999;
    position: relative;
    border: 1px solid black;
    display: inline-block;
}
.subtitle{
    padding: 2px 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    position: absolute;
    right: 0px;
    width: 150px;
    text-transform: capitalize;
    
}
.color1{
    background-color: #d59898;
}
.color2{
    background-color: #c14543;
    color: #ffff;
}
.color3{
    background-color: #e5d198;
}
.content{
    padding: 34px 8px 8px;
}

@media (min-width: 992px){
    .box{
        width: calc(33.33% - 25px);
    }

}

@media (min-width: 768px) and (max-width: 991px){
    .box{
        width: calc(50% - 24px);
    }
    .box1{
        width: calc(100% - 24px);
    }
}

@media (max-width: 767px){
    .box{
        width: calc(100% - 24px);
    }
}


